body {
    font-family: 'League-Spartan', sans-serif;
    font-weight: 700;
    color: white;
}

.Calculadora {
    width: 200px;
    height: 200px;
    background-color: hsl(222, 26%, 31%);
    margin: 0 auto;
}

.tela {
    background-color: hsl(221, 100%, 42%);
    padding-bottom: 10px;
    width: 160px;
    height: 40px;
    margin: 0 auto;
    border-radius: 5px;

}